*{
    user-select: none;
}

.c92-wrapper{
    width: 100%;
    height: 100vh;
}
header,
footer{
    height: 80px;
}

main{
    height: calc(100% - 160px);
}

#c92Playground{
    width: 500px;
    height: 500px;
}
.c92Border{
    border: 1px solid black;
    box-shadow: 0rem 0rem 1rem whitesmoke;

}
.drawSquare{
    color: white;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.drawSquare img{
    width: 100%;
    height: 100%;
}

.c92messageLose{
color: red!important;
}